<div>
    <div class="container mt-1">
        <h1 class="mt-4 text-center">Admin requests</h1>
        <div class="row">
            <div class="ml-4 mt-4" style="color: white;">
                <div class="p-4">
                    <h3 class="fw-light text-center" *ngIf="users.length == 0">No admin requests</h3>
                </div>
                <div *ngIf="users.length !== 0">
                    <ul>
                        <app-admin-list (userUpdated)="userUpdatedHandler($event)" *ngFor="let user of users"
                        [user]="user"></app-admin-list>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>