<div>
    <div class="container-fluid mt-1">
        <h1 class="mt-4 text-center">Dashboard</h1>
        <div class="row gx-5 justify-content-center">
            <div class="col-md-6 col-sm-10">
                <div *ngIf="!hasGoal; then createGoalBlock else goalInfoBlock"></div>
                <ng-template #createGoalBlock>
                    <button class="btn btn-info mt-3" (click)="handleNewGoalButtonClick()">New Goal</button>
                </ng-template>
                <ng-template #goalInfoBlock>
                    <div class="row">
                        <div class="ml-4 mt-4" style="color: white;">
                            <div>
                                <h2 class="d-inline">Goal</h2>
                                <button class="btn btn-info float-end mx-1" (click)="handleUpdateGoalButtonClick()">Update Goal</button>
                                <button class="btn btn-info float-end mx-1" (click)="handleDeleteGoalButtonClick()">Delete Goal</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 p-2 pb-5 rounded border border-5 border-dark text-white" style="background-color: #2c3948;">
                        <div class="row">
                            <div>
                                <h3 class="d-inline">{{currentProgram.name}}</h3>
                                <div *ngIf="goalCompleted; then completeBlock else notCompleteBlock"></div>
                                <ng-template #completeBlock>
                                    <h4 class="ms-3 ps-1 pe-1 border-1 border-dark d-inline rounded bg-success">Complete</h4>
                                </ng-template>
                                <ng-template #notCompleteBlock>
                                    <!-- <h4 class="ms-3 ps-1 pe-1 d-inline rounded bg-danger">In progress</h4> -->
                                </ng-template>
                                <h5 class="d-inline pt-1 float-end">{{daysTillDeadline}} Day(s) left</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3" style="height: 200px">
                                <app-progress-form [workouts]="workouts" [currentGoal]="currentGoal" (statusChanged)="statusChangedHandler($event)"></app-progress-form>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-5 col-sm-10 border border-dark b-2 rounded mt-4 pt-1 bg-white">
                <app-calendar [endDate]="currentGoal.endDate" [programName]="currentProgram.name"></app-calendar>
            </div>
        </div>
    </div>
</div>